<ng-template [ngIf]="isLoading$ | async">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>

<section class="my-hero">
  <h1 myHeroId="my-hero-title">My Hero List</h1>

  <app-my-hero-filter (searchChanged)="onSearchChanged($event)"></app-my-hero-filter>

  <ng-container *ngIf="(myHeroGroupList$ | async)?.length || !!(isLoading$ | async); else noComponents">
    <app-my-hero-section *ngFor="let section of myHeroGroupList$ | async"
                         [section]="section">
    </app-my-hero-section>
  </ng-container>

  <ng-template #noComponents>
    <p>There are no components</p>
  </ng-template>
</section>


